<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
</style>
</head>
<body>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/fan/fan-profile">I'm a fan!</a></li>
  <li><a href="/projects">Projects</a></li>
  <li><a href="/musos">Musos</a></li>
</ul>

</body>
</html>
