<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Project</title>
  </head>
  <body>
    <h1>Create Project</h1>
    <div class="container">
      <div class="container">
        <form action="/dashboard" method="POST">
          Name : <br>
          <input type="text" name="name" value=""><br><br>
          Target : <br>
          <input type="number" name="target" value=""><br><br>
          Minimum Contribution : <br>
          <input type="number" name="minimum"><br><br>
        </div>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
