<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>

    <h1><%= title %></h1>
    <h2><%= paragraph %></h2>
    <p>

        <a href="/fan/fan-login">Login - I'm a fan!<br><br></a>
        <a href="/muso/muso-login">Login - Muso<br><br></a>
        <a href="/fan/fan-register">Register - Fan<br><br></a>
        <a href="/muso/muso-register">Register - Muso<br><br></a>


    </p>
</body>
</html>