<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Muso</title>
  </head>
  <body>
    <div class="container">

      <h1><%= title %></h1>

      <% if (typeof errors !== 'undefined') { %>
        <% errors.forEach(error => { %>
          <p><%= error.message %></p>
       <% }) %>
      <% } %>
    
      <form action="/muso/muso-login" method="POST">
          <div class="col">
            <input type="text" name="username" placeholder="Username" value="">
            <input type="password" name="password" placeholder="Password" value="">
            <button type="submit">Login</button>
          </div>
      </form>
    </div>
  </body>
</html>
