<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fan Profile</title>
    <style>
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }

      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <table border="2">
      <thead>
        <td>ID</td>
        <td>Name</td>
        <td>Genre</td>
      </thead>
      <tbody>
        <td></td>
        <td></td>
        <td></td>
      </tbody>
    </table>
    <br>
    <a href="/muso/muso-profile-edit/:id">Edit Details</a>
    </div>
  </body>
</html>


