<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage Muso</title>
</head>
<body>
        <%- include('../../partials/muso-header-dashboard.ejs') %>
    <h1><%= title %></h1>
    <p>

        <a href="/">Home<br><br></a>
        <a href="/muso/muso-profile">Profile<br><br></a>
        <a href="muso/muso">Musos<br><br></a>
        <a href="/projects">Projects<br><br></a>
        <a href="/create-project">Create Projects<br><br></a>

    </p>
</body>
</html>